{% extends 'base.html.twig' %}

{% block body %}
    <v-flex xs12>
        <h1>Hello {{ controller_name }}! ✅</h1>
        {% if app.user %}<p>Prijavljen korisnik: {{ app.user.name }}</p>{% endif %}

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/dario/Sites/dei/dei-example/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/dario/Sites/dei/dei-example/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
        </ul>
    </v-flex>
{% endblock %}
